@page
@model features.Pages.MonetaryDonations.IndexModel
@{
}
<br />
<h2>List of Money Donated</h2>
<a class="btn btn-primary btn-sm" href="/MonetaryDonations/Create">New Donation</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DonoDate</th>
            <th>DonoAmount</th>
        </tr>
    </thead>
     <tbody>
         @foreach(var item in Model.listMonetarys)
        {
            <tr>
                <td>@item.name </td>
                <td>@item.donoDate </td>
                <td>@item.donoAmount </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/MonetaryDonations/Allocate?name=@item.name">Allocate</a>
                    <a class="btn btn-danger btn-sm" href="/MonetaryDonations/Delete?name=@item.name">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
